#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  #profile button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  #profile button:hover {
    background-color: #555;
  }